############ Requirement package for aop-helpFinder.py ############
#  To use it, simply write "sudo pip install -r requirements.txt" #
#            Or "sudo pip3 install -r requirements.txt"           #
############  Requirements without Version Specifiers  ############
argparse
argcomplete
chardet
html
networkx
nltk
pdfminer.six
sqlite3
tqdm
